
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

$first-color: #E3E3E3;
$second-color: #F6F6F8;
$writing-color: #444444;
$detail-color: #C60021;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  color: $writing-color;
}

#navbar {
  background-color: $first-color;
  h1 {
    margin: 0;
    padding: 20px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    a {
      text-decoration: none;
      font-size: 14px;
      background-color: $second-color;
      color: $writing-color;
      border-radius: 5px;
      padding: 5px;
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 5px 0px rgba(55,55,55,0.3);
    }
  }
}

#find {
  padding: 20px;
  h2 {
    font-size: 16px;
  }
  button {
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    // border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px 20px;
    margin: auto;
    box-shadow: 0px 0px 5px 0px rgba(55,55,55,0.3);
  }
  button:focus {
      outline: none;
  }
  p {
    width: 100%;
    margin: 16vh 0;
  }
  h3 {
    width: 100%;
    position: fixed;
    bottom: 30px;
    right: 40px;
    text-align: right;
    font-size: 16px;
    span {
      padding-left: 10px;
      font-size: 20px;
    }
  }
}
.toggleStar {
  color: $detail-color;
}
#saved {
  padding: 20px;
  h2 {
    font-size: 16px;
  }
  div {
    height: 60vh;
    width: 100%;
    div {
      height: 58vh;
      overflow: auto;
      border: 1px solid grey;
      text-align: center;
    }
  }
  button {
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    // border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 0px rgba(55,55,55,0.3);
  }
  button:focus {
      outline: none;
  }
  h4 {
    margin: none;
    font-size: 8px;
  }
}
@media screen and (min-width: 420px), print {

  #root {
    .mobileContainer {
      margin: 50px auto;
      width: 360px;
      height: auto;
      min-height: 550px;
      box-shadow: 0px 0px 5px 0px rgba(55,55,55,0.3);
      border: 1px solid black;
    }
  }

  #find {
    p {
      margin: 10vh 0;
    }
    h3 {
      position: relative;
      right: 10px;
      bottom: 10px;
    }
  }

  #saved {
    div {
      height: 40vh;
      width: 100%;
      div {
        height: 38vh;
        overflow: auto;
        border: 1px solid grey;
      }
    }
  }



}
